{% extends 'base.html.twig' %}

{% block title %}Je crée mon pari{% endblock %}

{% block body %}
    <div class="form_layout">
        <div class="form">
            <div class="form_title">
                <h1>Je crée mon pari</h1>
            </div>
            {{ include('event/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
