{% extends 'base.html.twig' %}

{% block title %}Beteclic - Accueil{% endblock %}

{% block body %}
{#    <h1>Bienvenue sur Beteclic !</h1>#}

{#     {% for message in app.flashes('success') %}#}
{#        <div class="alert alert-success">#}
{#            {{ message }}#}
{#        </div>#}
{#    {% endfor %}#}

{#    {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
{#        L'utilisateur est connecté#}
{#        <ul>#}
{#            <li><a href="/account">Mon compte</a></li>#}
{#            <li><a href="/logout">Déconnexion</a></li>#}
{#        </ul>#}
{#    {% else %}#}
{#        L'utilisateur n'est pas connecté <br />#}

{#        <ul>#}
{#            <li><a href="/login">Connexion</a></li>#}
{#            <li><a href="/register">Inscription</a></li>#}
{#        </ul>#}
{#    {% endif %}#}

{#    <h2>Parier de suite</h2>#}
{#    <small>Afficher les paris ici</small>#}
{% endblock %}
