{% extends 'base.html.twig' %}

{% block title %}New SelectionEvent{% endblock %}

{% block body %}
    <h1>Create new SelectionEvent</h1>

    {{ include('selection_event/_form.html.twig') }}

    <a href="{{ path('app_selection_event_index') }}">back to list</a>
{% endblock %}
